{% comment %} Is the color set to transparent? {% endcomment %}
{%- assign mobile_menu_background_color = settings.mobile_menu_background_color | color_extract: 'alpha' -%}
{%- assign mobile_menu_link_color = settings.mobile_menu_link_color | color_extract: 'alpha' -%}
{%- assign mobile_menu_link_hover_color = settings.mobile_menu_link_hover_color | color_extract: 'alpha' -%}

{% comment %} Opacity level {% endcomment %}
{%- assign mobile_menu_opacity = settings.mobile_menu_opacity | divided_by: 100.00 -%}

{% comment %} Mobile specific CSS {% endcomment %}
{%- style -%}
  .mobile-menu {
    background-color: {% if mobile_menu_background_color != 0.0 %}{{ settings.mobile_menu_background_color | color_modify: 'alpha', mobile_menu_opacity }}{% else %}{{ settings.header_background | color_modify: 'alpha', mobile_menu_opacity }}{% endif %};
  }

  {%- if mobile_menu_link_color != 0.0 -%}
    .mobile-menu-link,
    .mobile-menu__item,
    .mobile-menu a {
      color: {{ settings.mobile_menu_link_color }};
    }
  {%- endif -%}

  {%- if mobile_menu_link_hover_color != 0.0 -%}
    .mobile-menu-link:hover,
    .mobile-menu__item:hover,
    .mobile-menu a:hover {
      color: {{ settings.mobile_menu_link_hover_color }};
    }
  {%- endif -%}
{%- endstyle -%}

{% comment %} HTML markup {% endcomment %}
<div id="mobile-header" class="mobile-header">
  <div data-show-mobile-menu="false" class="mobile-menu__toggle-button mobile-toggle__position--{{ settings.logo_menu_position }}">
  </div>
  <div class="mobile-header__content
              mobile-layout--{{ settings.logo_menu_position }}
              mobile-logo__position--{{ settings.logo_mobile_position }}
              header__icon-style-{{ settings.mobile_icon_style | replace: '_', '-' }}">
    <div class="mobile-dropdown mobile-dropdown__position--{{ settings.logo_menu_position }}">
      <div class="mobile-menu__toggle-icon">
        <div class="mobile-header__open-menu">
          {% render 'icon', name: 'menu' %}
        </div>
        <div class="mobile-header__close-menu">
          {% render 'icon', name: 'x' %}
        </div>
      </div>
      {% render 'mobile-menu', nav_blocks: nav_blocks %}
    </div>
    <div class="mobile-logo">
      {% if settings.logo_mobile != blank %}
        <a class="mobile-header__logo header__link primary-logo" href="{{ shop.url }}" title="{{ shop.name }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="178.313" height="35.039" viewBox="0 0 178.313 35.039">
  <path id="Path_50" data-name="Path 50" d="M-304.089-156.77c-7.354-.506-11.12,3.133-11.12,9.487h-2.78v7.016h2.78v15.047h7.325v-15.047h3.795v-7.016h-3.795c0-1.986,1.133-2.669,3.795-2.692,1.26-.009,3.612.1,3.612.1v-6.408A24.986,24.986,0,0,0-304.089-156.77Zm17.694,11.517a7.759,7.759,0,0,0-6.266-2.647,9.464,9.464,0,0,0-7.413,3.353,11.947,11.947,0,0,0-2.956,8.3,12.135,12.135,0,0,0,2.956,8.34,9.566,9.566,0,0,0,7.413,3.309,7.759,7.759,0,0,0,6.266-2.647v2.03h7.325v-22.062h-7.325Zm-7.987,12.487a4.841,4.841,0,0,1-1.28-3.486,4.841,4.841,0,0,1,1.28-3.486,4.453,4.453,0,0,1,3.353-1.324,4.453,4.453,0,0,1,3.354,1.324,4.841,4.841,0,0,1,1.28,3.486,4.841,4.841,0,0,1-1.28,3.486,4.453,4.453,0,0,1-3.354,1.324A4.453,4.453,0,0,1-294.381-132.766Zm32.344-14.517h-4.589v-6.177l-7.325,2.206v3.971h-3.309v7.016h3.309v6.575q0,5.229,2.648,7.281,2.714,1.986,9.266,1.191v-6.619c-3.309.177-4.589-.088-4.589-2.03v-6.4h4.589Zm15.664-.618a7.759,7.759,0,0,0-6.266,2.647v-10.855h-7.325v30.887h7.325v-2.03a7.759,7.759,0,0,0,6.266,2.647A9.476,9.476,0,0,0-239-127.912a12.168,12.168,0,0,0,3-8.34,11.978,11.978,0,0,0-3-8.3A9.376,9.376,0,0,0-246.373-147.9Zm-4.986,15.135a4.841,4.841,0,0,1-1.28-3.486,4.841,4.841,0,0,1,1.28-3.486,4.453,4.453,0,0,1,3.354-1.324,4.453,4.453,0,0,1,3.353,1.324,4.841,4.841,0,0,1,1.28,3.486,4.841,4.841,0,0,1-1.28,3.486,4.453,4.453,0,0,1-3.353,1.324A4.453,4.453,0,0,1-251.359-132.766Zm28.372,8.163a11.311,11.311,0,0,0,8.34-3.354,11.189,11.189,0,0,0,3.442-8.3,11.092,11.092,0,0,0-3.442-8.251,11.348,11.348,0,0,0-8.34-3.4,11.491,11.491,0,0,0-8.34,3.4,11.092,11.092,0,0,0-3.442,8.251,11.189,11.189,0,0,0,3.442,8.3A11.451,11.451,0,0,0-222.987-124.6Zm0-7.06a4.361,4.361,0,0,1-4.412-4.589,4.361,4.361,0,0,1,4.412-4.589,4.346,4.346,0,0,1,4.457,4.589A4.346,4.346,0,0,1-222.987-131.663Zm25.813-4.81,7.678-10.811h-8.3l-3.53,4.986-3.53-4.986H-213.1l7.678,10.811-7.987,11.252h8.251l3.839-5.427,3.839,5.427h8.3Z" transform="translate(367.501 157.567)"/>
  <g id="mark1" transform="translate(-113.249 -66.684)">
    <rect id="Rectangle_98" data-name="Rectangle 98" width="8.648" height="34.454" rx="4.324" transform="translate(139.895 68.723) rotate(45)" fill="#009aff"/>
    <rect id="Rectangle_99" data-name="Rectangle 99" width="8.648" height="17.296" rx="4.324" transform="translate(125.48 66.684) rotate(45)" fill="#f16bca"/>
    <rect id="Rectangle_96" data-name="Rectangle 96" width="8.648" height="17.296" rx="4.324" transform="translate(142.513 83.378) rotate(45)" fill="#fc0"/>
  </g>
</svg>

        </a>
      {% elsif section.settings.logo != blank %}
        <a class="mobile-header__logo header__link primary-logo" href="{{ shop.url }}" title="{{ shop.name }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="178.313" height="35.039" viewBox="0 0 178.313 35.039">
  <path id="Path_50" data-name="Path 50" d="M-304.089-156.77c-7.354-.506-11.12,3.133-11.12,9.487h-2.78v7.016h2.78v15.047h7.325v-15.047h3.795v-7.016h-3.795c0-1.986,1.133-2.669,3.795-2.692,1.26-.009,3.612.1,3.612.1v-6.408A24.986,24.986,0,0,0-304.089-156.77Zm17.694,11.517a7.759,7.759,0,0,0-6.266-2.647,9.464,9.464,0,0,0-7.413,3.353,11.947,11.947,0,0,0-2.956,8.3,12.135,12.135,0,0,0,2.956,8.34,9.566,9.566,0,0,0,7.413,3.309,7.759,7.759,0,0,0,6.266-2.647v2.03h7.325v-22.062h-7.325Zm-7.987,12.487a4.841,4.841,0,0,1-1.28-3.486,4.841,4.841,0,0,1,1.28-3.486,4.453,4.453,0,0,1,3.353-1.324,4.453,4.453,0,0,1,3.354,1.324,4.841,4.841,0,0,1,1.28,3.486,4.841,4.841,0,0,1-1.28,3.486,4.453,4.453,0,0,1-3.354,1.324A4.453,4.453,0,0,1-294.381-132.766Zm32.344-14.517h-4.589v-6.177l-7.325,2.206v3.971h-3.309v7.016h3.309v6.575q0,5.229,2.648,7.281,2.714,1.986,9.266,1.191v-6.619c-3.309.177-4.589-.088-4.589-2.03v-6.4h4.589Zm15.664-.618a7.759,7.759,0,0,0-6.266,2.647v-10.855h-7.325v30.887h7.325v-2.03a7.759,7.759,0,0,0,6.266,2.647A9.476,9.476,0,0,0-239-127.912a12.168,12.168,0,0,0,3-8.34,11.978,11.978,0,0,0-3-8.3A9.376,9.376,0,0,0-246.373-147.9Zm-4.986,15.135a4.841,4.841,0,0,1-1.28-3.486,4.841,4.841,0,0,1,1.28-3.486,4.453,4.453,0,0,1,3.354-1.324,4.453,4.453,0,0,1,3.353,1.324,4.841,4.841,0,0,1,1.28,3.486,4.841,4.841,0,0,1-1.28,3.486,4.453,4.453,0,0,1-3.353,1.324A4.453,4.453,0,0,1-251.359-132.766Zm28.372,8.163a11.311,11.311,0,0,0,8.34-3.354,11.189,11.189,0,0,0,3.442-8.3,11.092,11.092,0,0,0-3.442-8.251,11.348,11.348,0,0,0-8.34-3.4,11.491,11.491,0,0,0-8.34,3.4,11.092,11.092,0,0,0-3.442,8.251,11.189,11.189,0,0,0,3.442,8.3A11.451,11.451,0,0,0-222.987-124.6Zm0-7.06a4.361,4.361,0,0,1-4.412-4.589,4.361,4.361,0,0,1,4.412-4.589,4.346,4.346,0,0,1,4.457,4.589A4.346,4.346,0,0,1-222.987-131.663Zm25.813-4.81,7.678-10.811h-8.3l-3.53,4.986-3.53-4.986H-213.1l7.678,10.811-7.987,11.252h8.251l3.839-5.427,3.839,5.427h8.3Z" transform="translate(367.501 157.567)"/>
  <g id="mark1" transform="translate(-113.249 -66.684)">
    <rect id="Rectangle_98" data-name="Rectangle 98" width="8.648" height="34.454" rx="4.324" transform="translate(139.895 68.723) rotate(45)" fill="#009aff"/>
    <rect id="Rectangle_99" data-name="Rectangle 99" width="8.648" height="17.296" rx="4.324" transform="translate(125.48 66.684) rotate(45)" fill="#f16bca"/>
    <rect id="Rectangle_96" data-name="Rectangle 96" width="8.648" height="17.296" rx="4.324" transform="translate(142.513 83.378) rotate(45)" fill="#fc0"/>
  </g>
</svg>

            
        </a>
      {% else %}
        <a href="{{ shop.url }}" class="header__link header__logo-text primary-brand">
          <span>{{ shop.name }}</span>
        </a>
      {% endif %}
    </div>
    <div class="mobile-icons {% if settings.show_search_icon_mobile == false %}has-one-icon{% endif %}">
      <a class="header__link action-area__link"><svg xmlns="http://www.w3.org/2000/svg" width="21.5" height="25.869" viewBox="0 0 51.5 55.869">
  <g id="Layer_2" data-name="Layer 2" transform="translate(0 0)">
    <g id="Layer_1" data-name="Layer 1" transform="translate(0 0)">
      <path id="Path_1650" data-name="Path 1650" d="M158.53,0V3.633H171.2A23.68,23.68,0,0,0,158.565,0Z" transform="translate(-133.225 0)" fill="#282828"/>
      <path id="Path_1651" data-name="Path 1651" d="M158.53,49.513H178.6a23.817,23.817,0,0,0-2.865-3.633h-17.2Z" transform="translate(-133.225 -38.556)" fill="#282828"/>
      <path id="Path_1652" data-name="Path 1652" d="M158.53,95.385h23.179a23.521,23.521,0,0,0-1.18-3.635h-22Z" transform="translate(-133.225 -77.104)" fill="#282828"/>
      <path id="Path_1653" data-name="Path 1653" d="M158.53,141.263h23.752c.045-.6.069-1.205.069-1.817s-.024-1.216-.069-1.817H158.53Z" transform="translate(-133.225 -115.661)" fill="#282828"/>
      <path id="Path_1654" data-name="Path 1654" d="M14.921,187.143H58.852a23.558,23.558,0,0,0,1.18-3.633H13.74a23.726,23.726,0,0,0,1.181,3.633Z" transform="translate(-11.547 -154.217)" fill="#282828"/>
      <path id="Path_1655" data-name="Path 1655" d="M36.115,233.015H70.451a23.907,23.907,0,0,0,2.865-3.635H33.25a23.908,23.908,0,0,0,2.865,3.635Z" transform="translate(-27.942 -192.765)" fill="#282828"/>
      <path id="Path_1656" data-name="Path 1656" d="M92.209,278.873a23.666,23.666,0,0,0,12.638-3.633H79.57A23.668,23.668,0,0,0,92.209,278.873Z" transform="translate(-66.869 -231.305)" fill="#282828"/>
      <path id="Path_1657" data-name="Path 1657" d="M97.44,11.37q-.4.16-.79.345h.678Z" transform="translate(-81.222 -9.555)" fill="#282828"/>
      <path id="Path_1658" data-name="Path 1658" d="M24.829,1.641l.16.519h1.154l-.934.669.353,1.092-.924-.675-.924.675.351-1.092-.745-.535a23.893,23.893,0,0,0-9.1,7.6h1.033l.351-1.09.353,1.09h1.154l-.934.67.351,1.085-.924-.675-.924.675.353-1.092-.854-.611a23.446,23.446,0,0,0-1.365,2.126l.125.391h1.156l-.935.67.353,1.09-.919-.675-.819.6q.354-.8.765-1.564a23.648,23.648,0,0,0-2.616,8.251c.026-.214.054-.426.088-.639h1.076l-.934.669.351,1.092-.651-.479c.021-.215.043-.429.07-.639a23.943,23.943,0,0,0-.182,2.943c0,.611.022,1.218.069,1.817H33.491V0a23.719,23.719,0,0,0-8.661,1.641Zm2.476,3.1.351-1.09.353,1.09h1.154l-.934.67.351,1.09-.921-.675-.924.675.353-1.09-.935-.67ZM28.582,16.8l-.923-.682-.924.675.353-1.09-.935-.67h1.156l.351-1.09.353,1.09h1.154l-.934.67ZM25.568,19.38l-.924-.674-.924.674.351-1.09-.934-.67h1.154l.353-1.09L25,17.619H26.15l-.934.67ZM22.552,16.8l-.921-.682-.924.675.353-1.09-.935-.67h1.151l.351-1.09.353,1.09h1.154l-.934.67Zm0-5.151-.924-.675-.921.675.353-1.092L20.124,9.9h1.151l.351-1.09.358,1.09h1.154l-.934.67Zm3.017,2.575-.924-.675-.924.675.351-1.09-.934-.67h1.154l.353-1.092L25,12.467H26.15l-.934.67Zm3.012-2.575-.921-.677-.927.677.353-1.092L26.15,9.9h1.156l.351-1.09.353,1.09h1.154l-.934.67Zm-4.289-4.34.353-1.087L25,7.316H26.15l-.934.666.353,1.09L24.644,8.4l-.924.675.351-1.09-.934-.67ZM21.275,4.736l.351-1.09.353,1.09h1.154l-.934.67.353,1.09-.924-.675-.921.675.353-1.09-.935-.67ZM18.266,7.312l.353-1.087.351,1.09h1.154l-.934.666.353,1.09L18.618,8.4l-.924.675.351-1.09-.934-.67Zm0,5.154.353-1.092.351,1.092h1.154l-.934.67.353,1.09-.924-.675-.924.675.351-1.09-.934-.67Zm1.277,6.913-.924-.674-.924.674.351-1.09-.934-.67h1.154l.353-1.09.351,1.09h1.154l-.934.67Zm-4.289-4.337.351-1.09.353,1.09h1.154l-.934.67.351,1.09-.924-.682-.924.675.353-1.09-.934-.67ZM12.24,17.619l.353-1.09.351,1.09H14.1l-.935.67.353,1.09-.924-.674-.924.674.351-1.09-.934-.67Zm1.277,6.915-.924-.675-.924.675.351-1.09-.934-.67H12.24l.353-1.09.351,1.09H14.1l-.935.67ZM15.6,21.283l-.924.675.353-1.092L14.1,20.2h1.154l.351-1.092.353,1.092h1.154l-.934.669.351,1.092Zm3.938,3.252-.924-.675-.924.675.351-1.09-.934-.67h1.154l.353-1.09.351,1.09h1.154l-.934.67Zm2.088-3.252-.924.675.353-1.092-.935-.669h1.151l.351-1.092.353,1.092h1.154l-.934.669.351,1.092Zm3.938,3.252-.924-.675-.924.675.351-1.09-.934-.67h1.154l.353-1.09L25,22.774H26.15l-.934.67Zm2.091-3.252-.924.675.353-1.092-.935-.669h1.156l.351-1.092.353,1.092h1.154l-.934.669.351,1.092ZM31.6,24.534l-.924-.675-.924.675.351-1.09-.934-.67h1.154l.353-1.09.351,1.09h1.154l-.934.67Zm-.353-6.245.353,1.09-.924-.674-.924.674.351-1.09-.934-.67h1.154l.353-1.09.351,1.09h1.154Zm0-5.153.353,1.09-.924-.675-.924.675.351-1.09-.934-.67h1.154l.353-1.092.351,1.092h1.154Zm0-5.154.353,1.09L30.673,8.4l-.924.675.351-1.09-.934-.67h1.154l.35-1.087.351,1.09h1.154Zm0-5.154L31.6,3.92l-.924-.675-.924.675L30.1,2.829l-.934-.669h1.154l.353-1.092.351,1.092h1.154Z" transform="translate(-8.185 0)" fill="#282828"/>
      <path id="Path_1659" data-name="Path 1659" d="M102.77,10.436q.105-.046.211-.086Z" transform="translate(-86.365 -8.698)" fill="#282828"/>
      <path id="Path_1660" data-name="Path 1660" d="M27.28,76.166c.091-.171.184-.338.278-.506C27.464,75.828,27.371,76,27.28,76.166Z" transform="translate(-22.925 -63.583)" fill="#282828"/>
      <path id="Path_1661" data-name="Path 1661" d="M104.117,10.28l-.027.011.029-.011Z" transform="translate(-87.475 -8.639)" fill="#282828"/>
      <path id="Path_1662" data-name="Path 1662" d="M101.6,10.957h0q.094-.042.187-.077Z" transform="translate(-85.382 -9.143)" fill="#282828"/>
      <path id="Path_1663" data-name="Path 1663" d="M95.129,13.53c-.1.043-.193.088-.289.134h0c.1-.045.192-.091.287-.134Z" transform="translate(-79.701 -11.37)" fill="#282828"/>
      <path id="Path_1664" data-name="Path 1664" d="M37.592,61.992l-.042.057h0l.042-.059Z" transform="translate(-31.556 -52.095)" fill="#282828"/>
      <path id="Path_1665" data-name="Path 1665" d="M10.88,130.54Z" transform="translate(-9.143 -109.702)" fill="#282828"/>
      <path id="Path_1666" data-name="Path 1666" d="M29.02,75.65v0Z" transform="translate(-24.388 -63.574)" fill="#282828"/>
      <path id="Path_1667" data-name="Path 1667" d="M27.27,78.84Z" transform="translate(-22.917 -66.255)" fill="#282828"/>
      <path id="Path_1668" data-name="Path 1668" d="M3.609,253.68c-.04.091-.08.182-.121.273.094-.04.188-.077.283-.112s.188-.065.281-.093l3.47-.971a.479.479,0,0,1,.115-.018.207.207,0,0,1,.089.018.345.345,0,0,1,.078.054c.026.024.056.051.088.086l.557.583L4.31,257.468l-.65-.678,2.679-2.564c.049-.048.105-.1.168-.152s.126-.107.193-.16l-3.558.991a.464.464,0,0,1-.233.008.407.407,0,0,1-.2-.118l-.1-.107a.393.393,0,0,1-.11-.2.464.464,0,0,1,.018-.231l1.145-3.528c-.056.067-.112.131-.169.192s-.112.117-.16.16L.65,253.651l-.65-.68L4.15,249l.557.581a1.166,1.166,0,0,1,.081.093.3.3,0,0,1,.051.081.236.236,0,0,1,.016.091.426.426,0,0,1-.022.115L3.716,253.4C3.683,253.5,3.647,253.589,3.609,253.68Z" transform="translate(0 -209.253)" fill="#282828"/>
      <path id="Path_1669" data-name="Path 1669" d="M38.927,292.082l-.691-.452a.369.369,0,0,1-.16-.182.4.4,0,0,1-.013-.215l.289-1.213-1.991-1.3-1,.745a.372.372,0,0,1-.2.072.348.348,0,0,1-.231-.062l-.694-.453,5.027-3.571.915.6ZM37,288.235l1.532,1,.455-1.979c.019-.088.045-.192.075-.308s.069-.243.112-.375c-.105.093-.2.177-.3.255s-.179.144-.255.2Z" transform="translate(-28.774 -239.885)" fill="#282828"/>
      <path id="Path_1670" data-name="Path 1670" d="M77.173,301.812a3.111,3.111,0,0,1-.619,1,2.607,2.607,0,0,1-1.952.844,3.2,3.2,0,0,1-1.181-.238l-2.04-.8,2.1-5.343,2.04.8a3.223,3.223,0,0,1,1.026.639,2.689,2.689,0,0,1,.639.886,2.64,2.64,0,0,1,.219,1.06A3.12,3.12,0,0,1,77.173,301.812Zm-1.015-.4a2.637,2.637,0,0,0,.192-.835,1.8,1.8,0,0,0-.105-.723,1.545,1.545,0,0,0-.383-.579,1.972,1.972,0,0,0-.654-.405l-1.038-.409-1.477,3.762,1.038.407a1.962,1.962,0,0,0,.755.147,1.572,1.572,0,0,0,.677-.16,1.8,1.8,0,0,0,.568-.46,2.636,2.636,0,0,0,.428-.745Z" transform="translate(-59.986 -249.827)" fill="#282828"/>
      <path id="Path_1671" data-name="Path 1671" d="M115.156,309.892l-.16.835-2.5-.479-.3,1.564,1.97.374-.16.808-1.97-.374-.3,1.6,2.5.479-.16.838-3.556-.675,1.073-5.638Z" transform="translate(-92.878 -259.861)" fill="#282828"/>
      <path id="Path_1672" data-name="Path 1672" d="M163.844,319.525l-1.071.045-.243-5.734,1.071-.046Z" transform="translate(-136.586 -263.701)" fill="#282828"/>
      <path id="Path_1673" data-name="Path 1673" d="M176.207,308.951a.271.271,0,0,1,.089.008.261.261,0,0,1,.081.037,1.062,1.062,0,0,1,.1.072l3.689,3.193c-.029-.089-.053-.177-.073-.263s-.038-.16-.054-.243l-.664-3.424.923-.18,1.1,5.635-.543.105a.508.508,0,0,1-.214,0,.479.479,0,0,1-.187-.11l-3.671-3.18c.024.081.046.16.065.244s.037.16.049.222l.672,3.461-.923.179-1.1-5.622.551-.107A1.094,1.094,0,0,1,176.207,308.951Z" transform="translate(-147.519 -258.961)" fill="#282828"/>
      <path id="Path_1674" data-name="Path 1674" d="M230.67,291.341a1.414,1.414,0,0,0,.433-.361,1.135,1.135,0,0,0,.219-.455,1.238,1.238,0,0,0,0-.52,1.886,1.886,0,0,0-.212-.564l-1.678-3,.931-.522,1.679,3a2.669,2.669,0,0,1,.319.907,2.113,2.113,0,0,1-.048.886,2.162,2.162,0,0,1-.415.8,2.873,2.873,0,0,1-1.722.966,2.1,2.1,0,0,1-1.671-.488,2.621,2.621,0,0,1-.6-.745l-1.679-3,.932-.522,1.67,3a1.831,1.831,0,0,0,.369.479,1.314,1.314,0,0,0,.445.273,1.144,1.144,0,0,0,.5.054A1.437,1.437,0,0,0,230.67,291.341Z" transform="translate(-190.109 -240.28)" fill="#282828"/>
      <path id="Path_1675" data-name="Path 1675" d="M261.4,272.722a.29.29,0,0,1,0,.16.247.247,0,0,1-.083.115.335.335,0,0,1-.177.065l-.268.043a1.885,1.885,0,0,0-.33.094,1.309,1.309,0,0,0-.369.222,1.248,1.248,0,0,0-.265.287.844.844,0,0,0-.121.292.6.6,0,0,0,.014.283.753.753,0,0,0,.142.262.516.516,0,0,0,.3.188.947.947,0,0,0,.377-.011,2.956,2.956,0,0,0,.437-.137l.479-.185a4.572,4.572,0,0,1,.5-.16,1.679,1.679,0,0,1,.5-.043,1.308,1.308,0,0,1,.5.137,1.463,1.463,0,0,1,.479.4,1.987,1.987,0,0,1,.359.648,1.678,1.678,0,0,1,.073.7,1.837,1.837,0,0,1-.231.7,2.31,2.31,0,0,1-.562.648,2.741,2.741,0,0,1-.452.3,2.865,2.865,0,0,1-.492.206,2.681,2.681,0,0,1-.5.1,2.187,2.187,0,0,1-.49,0l-.085-.592a.378.378,0,0,1,.022-.139.255.255,0,0,1,.081-.117.377.377,0,0,1,.217-.072c.094-.008.2-.018.319-.034a2.014,2.014,0,0,0,.4-.094,1.437,1.437,0,0,0,.447-.26,1.046,1.046,0,0,0,.409-.615.779.779,0,0,0-.2-.639.58.58,0,0,0-.319-.214.915.915,0,0,0-.383,0,2.251,2.251,0,0,0-.434.142c-.15.065-.306.131-.468.193a3.977,3.977,0,0,1-.495.16,1.545,1.545,0,0,1-.512.045,1.3,1.3,0,0,1-.514-.16,1.7,1.7,0,0,1-.506-.439,1.567,1.567,0,0,1-.343-1.192,1.793,1.793,0,0,1,.222-.659,2.151,2.151,0,0,1,.528-.613,2.677,2.677,0,0,1,.825-.479,2.129,2.129,0,0,1,.846-.12Z" transform="translate(-217.524 -228.704)" fill="#282828"/>
      <path id="Path_1676" data-name="Path 1676" d="M288.267,256.057l-.538.626a.369.369,0,0,1-.2.128.4.4,0,0,1-.215-.016l-1.167-.439-1.552,1.8.608,1.089a.377.377,0,0,1,.045.2.354.354,0,0,1-.093.222l-.541.629-2.873-5.454.712-.827Zm-4.066,1.4,1.194-1.387-1.9-.717c-.085-.03-.184-.069-.3-.115s-.231-.1-.359-.16c.078.117.15.227.215.329a2.713,2.713,0,0,1,.16.279Z" transform="translate(-236.767 -213.472)" fill="#282828"/>
    </g>
  </g>
</svg>
      </a>

      {% if settings.show_search_icon_mobile %}
        {% comment %} Search icon {% endcomment %}
        <a class="header__link action-area__link" data-show-search-trigger>
          {% render 'icon',
                  name: 'search',
                  icon_class: 'header__icon'
          %}
          <span class="icon-caption">{{ 'general.search.title' | t | escape }}</span>
        </a>
      {% endif %}

      {% comment %} Cart icon {% endcomment %}
      <div class="header-cart action-area__link {% if cart.item_count != 0 %}has-cart-count{% endif %}" data-ajax-cart-trigger>
        <a class="header__link" {% if settings.cart_action != 'mini_cart' or settings.cart_action != 'drawer' %}href="{{ routes.cart_url }}"{% endif %} >
          <span class="header-cart__icon">
            {% render 'icon',
                    name: settings.cart_icon,
                    icon_class: 'header__icon'
            %}
            <span class="header-cart__count header-cart__count--badge badge" data-bind="itemCount">
              {{ cart.item_count }}
            </span>
          </span>
          <span class="header-cart__caption icon-caption">
            {{ 'layout.general.cart' | t | escape }}
            {%- if object.settings.icon_style == 'text' -%}
              <span class="header-cart__count cart__count--text" data-bind="itemCount">{{ cart.item_count }}</span>
            {%- endif -%}
          </span>
        </a>
        {% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %}
          {% render 'ajax-cart', context: 'mobile-header' %}
        {% endif %}
      </div>

    </div>
  </div>

  {% if settings.logo_mobile_position == 'below' %}
    <div class="mobile-logo__outer">
      {% if settings.logo_mobile != blank %}
        <a class="mobile-header__logo header__link primary-logo" href="{{ shop.url }}" title="{{ shop.name }}">
          {% render 'image-element',
                  image: settings.logo_mobile,
                  alt: settings.logo_mobile.alt,
                  additional_classes: 'primary-logo'
          %}
        </a>
      {% else %}
        <a href="{{ shop.url }}" class="header__link header__logo-text primary-brand">
          {{ shop.name }}
        </a>
      {% endif %}
    </div>
  {% endif %}

</div>
