<ul class="social-icons is-flex is-flex-wrap {{flex_alignment}}">
  {% if settings.twitter_link != '' %}
    <li>
      <a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <svg id="Component_18_2" data-name="Component 18 – 2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g id="Ellipse_222" data-name="Ellipse 222" fill="none" stroke="#000" stroke-width="2">
    <circle cx="15" cy="15" r="15" stroke="none"/>
    <circle cx="15" cy="15" r="14" fill="none"/>
  </g>
  <g id="twitter_icon" data-name="twitter icon" transform="translate(9.204 10.06)">
    <path id="Path_1143" data-name="Path 1143" d="M12.381,2.661a4.58,4.58,0,0,1-1.47.387,2.188,2.188,0,0,0,1.083-1.393,5.077,5.077,0,0,1-1.625.619A2.7,2.7,0,0,0,8.512,1.5,2.562,2.562,0,0,0,6.036,4.054a1.147,1.147,0,0,0,.077.542A7.121,7.121,0,0,1,.851,1.964,2.371,2.371,0,0,0,.542,3.28,2.54,2.54,0,0,0,1.7,5.369,3.243,3.243,0,0,1,.542,5.06h0A2.5,2.5,0,0,0,2.554,7.536a2.142,2.142,0,0,1-.7.077.981.981,0,0,1-.464-.077,2.507,2.507,0,0,0,2.4,1.78A4.921,4.921,0,0,1,.619,10.4H0A7.55,7.55,0,0,0,3.869,11.56a7.163,7.163,0,0,0,7.2-7.2v-.31A4.5,4.5,0,0,0,12.381,2.661Z" transform="translate(0 -1.5)"/>
  </g>
</svg>

      </a>
    </li>
  {% endif %}

  {% if settings.facebook_link != '' %}
    <li>
      <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank"  rel="noopener"class="icon-facebook">
      <svg id="Component_18_1" data-name="Component 18 – 1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g id="Ellipse_222" data-name="Ellipse 222" fill="none" stroke="#000" stroke-width="2">
    <circle cx="15" cy="15" r="15" stroke="none"/>
    <circle cx="15" cy="15" r="14" fill="none"/>
  </g>
  <g id="facebook_icon" data-name="facebook icon" transform="translate(10.834 9.286)">
    <path id="Path_1142" data-name="Path 1142" d="M5.339,12.381,5.322,6.965H3V4.643H5.322V3.1A2.854,2.854,0,0,1,8.478,0a17.292,17.292,0,0,1,1.883.1V2.279H9.069c-1.013,0-1.21.482-1.21,1.188V4.643h2.879L9.965,6.965H7.86v5.417Z" transform="translate(-3)"/>
  </g>
</svg>

      </a>
    </li>
  {% endif %}

  {% if settings.youtube_link != '' %}
    <li>
      <a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank"  rel="noopener"class="icon-youtube">
        {% render 'icon', name: 'youtube' %}
      </a>
    </li>
  {% endif %}

  {% if settings.vimeo_link != '' %}
    <li>
      <a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank"  rel="noopener"class="icon-vimeo">
        {% render 'icon', name: 'vimeo' %}
      </a>
    </li>
  {% endif %}

  {% if settings.pinterest_link != '' %}
    <li>
      <a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank"  rel="noopener"class="icon-pinterest">
        {% render 'icon', name: 'pinterest' %}
      </a>
    </li>
  {% endif %}

  {% if settings.tumblr_link != '' %}
    <li>
      <a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank"  rel="noopener"class="icon-tumblr">
        {% render 'icon', name: 'tumblr' %}
      </a>
    </li>
  {% endif %}

  {% if settings.instagram_link != '' %}
    <li>
      <a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank"  rel="noopener"class="icon-instagram">
        {% render 'icon', name: 'instagram' %}
      </a>
    </li>
  {% endif %}

  {% if settings.snapchat_link != '' %}
    <li>
      <a href="{{ settings.snapchat_link }}" title="{{ shop.name }} on Snapchat" rel="me" target="_blank"  rel="noopener"class="icon-snapchat">
        {% render 'icon', name: 'snapchat' %}
      </a>
    </li>
  {% endif %}

  {% if settings.houzz_link != '' %}
    <li>
      <a href="{{ settings.houzz_link }}" title="{{ shop.name }} on Houzz" rel="me" target="_blank"  rel="noopener"class="icon-houzz">
        {% render 'icon', name: 'houzz' %}
      </a>
    </li>
  {% endif %}

  {% if settings.linkedin_link != '' %}
    <li>
      <a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank"  rel="noopener"class="icon-linkedin">
       <svg id="Component_18_3" data-name="Component 18 – 3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g id="Ellipse_222" data-name="Ellipse 222" fill="none" stroke="#000" stroke-width="2">
    <circle cx="15" cy="15" r="15" stroke="none"/>
    <circle cx="15" cy="15" r="14" fill="none"/>
  </g>
  <g id="linkedin_icon" data-name="linkedin icon" transform="translate(8.348 9.286)">
    <path id="Path_1144" data-name="Path 1144" d="M11.84,0H.542A.529.529,0,0,0,0,.542V11.917a.517.517,0,0,0,.542.464H11.917a.529.529,0,0,0,.542-.542V.542A.657.657,0,0,0,11.84,0Zm-8.2,10.524H1.857V4.643H3.714v5.881ZM2.786,3.869A1.107,1.107,0,0,1,1.7,2.786,1.058,1.058,0,0,1,2.786,1.7,1.058,1.058,0,0,1,3.869,2.786,1.233,1.233,0,0,1,2.786,3.869Zm7.738,6.655H8.667V7.661c0-.7,0-1.548-.929-1.548s-1.083.774-1.083,1.548V10.6H4.8V4.643h1.78v.774h0a1.889,1.889,0,0,1,1.7-.929c1.857,0,2.167,1.238,2.167,2.786v3.25Z"/>
  </g>
</svg>

      </a>
    </li>
  {% endif %}

  {% if settings.dribbble_link != '' %}
    <li>
      <a href="{{ settings.dribbble_link }}" title="{{ shop.name }} on Dribbble" rel="me" target="_blank"  rel="noopener"class="icon-dribbble">
        {% render 'icon', name: 'dribbble' %}
      </a>
    </li>
  {% endif %}

  {% if settings.behance_link != '' %}
    <li>
      <a href="{{ settings.behance_link }}" title="{{ shop.name }} on Behance" rel="me" target="_blank"  rel="noopener"class="icon-behance">
        {% render 'icon', name: 'behance' %}
      </a>
    </li>
  {% endif %}

  {% if settings.flickr_link != '' %}
    <li>
      <a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank"  rel="noopener"class="icon-flickr">
        {% render 'icon', name: 'flickr' %}
      </a>
    </li>
  {% endif %}

  {% if settings.email_link != '' %}
    <li>
      <a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank"  rel="noopener"class="icon-email">
        {% render 'icon', name: 'email' %}
      </a>
    </li>
  {% endif %}
</ul>
