<div class="testimonials container" {% if blocks.size > 2 %}data-testimonial-slider{% endif %}>
    {% comment %} Content settings {% endcomment %}
    {%- assign header = block.settings.header -%}
    {%- assign description = block.settings.description -%}
    {%- assign poster_img = block.settings.poster_img -%}
   {%- assign video = block.settings.video -%}
    {%- assign quote = block.settings.quote -%}
    {%- assign text = block.settings.text -%}
        {%- assign caption = block.settings.caption -%}
    {%- assign info_text = block.settings.info_text -%}
    {%- assign info_background = block.settings.info_background -%}
    {% comment %} End content settings {% endcomment %}

    {% comment %} Is the color set to transparent? {% endcomment %}
    {%- assign info_text_alpha = info_text | color_extract: 'alpha' -%}
    {%- assign info_background_alpha = info_background | color_extract: 'alpha' -%}

    <div id="shopify-section-{{ block.id }}"
        class="testimonial-block">
               
               
      <style>
          .block--{{ block.id }} .testimonial__name {
            color: {%- if info_text_alpha != 0 -%}{{ info_text }}{%- endif -%};
            background-color: {%- if info_background_alpha != 0 -%}{{ info_background }}{% else %}{{ settings.shop_bg_color }}{%- endif -%};
          }
      </style>
      <div class="testimonial-pack">
        <div class="testimonial-pack-header">
            {{ header }}
          </div>
          <div class="testimonial-pack-description">
            {{ description }}
          </div>
      </div>
      <div class="fat__box fat__box-pack">
      <div class="fat__one width-half pr-70">
          <div class="testimonial-video-radius"> 
            <video controls style="border-radius: 10px" poster="{{ poster_img | img_url:'original' }}" width="100%" height="100%" src="{{ video }}" type="video/mp4"></video>
          </div>

        {{caption}}</span>
      </div>
      <div class="fat__two width-half">
        <div class="quote-block">
   

               {{ quote }}
        </div>
            
      </div>
    </div>
  </div>
  <img class="desktop-absolute-5" src="{{ 'ellipse-sample.png' | asset_url }}">
  <img class="desktop-absolute-6" src="{{ 'dot.png' | asset_url }}">
  <div class="desktop-absolute-7"></div>
</div>


{% comment %}JavaScript{% endcomment %}
<script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
<script>
  const player = new Plyr('#player');
</script>
<script
type="application/json"
data-section-id="{{ section.id }}"
data-section-data
>
{
}
</script>
